<div class="container-fluid bg-dark" style="height: 100vh;">
  <h1 class="text-center text-white pt-5" style="font-weight: 700;">Start engaging with your customers better.</h1>
  <h4 class="text-center text-white mb-5" style="font-weight: 300;">Try it for free for the first 7-days.</h4>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="card-deck">
          <div class="card text-center mt-3" style="width: 25rem;">
            <div class="card-header bg-success">
              <strong>Basic Plan</strong>
            </div>
            <div class="card-body">
              <h1><i class="fas fa-user-friends text-muted"></i></h1>
              <h2 class="card-title mt-5">$14.99 / month</h2>
              <p class="card-text">
                10 Employees </br></br>
                20 MB of storage </br>
                You may fax us. </br>
                Help Center access</p>
                <a href="#" class="btn btn-outline-success mt-5">Start 7-day Free Trial</a>
              </div>
              <div class="card-footer">
                <strong>Best for:</strong> People that are broke
              </div>
            </div>

            <div class="card text-center mt-3">
              <div class="card-header bg-primary">
                <strong>Standard Plan</strong>
              </div>
              <div class="card-body">
                <h1><i class="fas fa-building text-muted"></i></h1>
                <h2 class="card-title mt-5">$49.99 / month</h2>
                <p class="card-text">
                  10-100 Employees (SME) </br></br>
                  100 GB of Storage </br>
                  Email and Phone Support </br>
                  Help Center access</p>
                  <a href="#" class="btn btn-outline-primary mt-5">Subscribe to this Plan</a>
                </div>
                <div class="card-footer">
                  <strong>Best for:</strong> Small Businesses
                </div>
              </div>

              <div class="card text-center mt-3">
                <div class="card-header bg-warning">
                  <strong>Enterprise Plan</strong>
                </div>
                <div class="card-body">
                  <h1><i class="fas fa-city text-muted"></i></h1>
                  <h2 class="card-title mt-5">$249.99 / month</h2>
                  <p class="card-text">
                    1000+ Employees </br></br>
                    Unlimited Storage </br>
                    On-site Support </br>
                    <strong>Everything, basically.</strong> </br>
                    <a href="#" class="btn btn-outline-warning mt-5">Subscribe to this Plan</a>
                  </div>
                  <div class="card-footer">
                    <strong>Best for:</strong> High-Rollers
                  </div>
                </div>
              </div>
      </div>
    </div>
  </div>
</div>
