<h1>Pick a Plan</h1>

<div class="card mb-4" style="width: 20rem; height: 25rem; text-align:left">
<img class="card-img-top" src='#'%> alt="Card image cap">
<div class="card-body">
    <h3 class="card-title"><%= link_to "1 month plan", braintree_new_one_path %></h3>
</div>
</div>

<div class="card mb-4" style="width: 20rem; height: 25rem; text-align:left">
<img class="card-img-top" src='#'%> alt="Card image cap">
<div class="card-body">
    <h3 class="card-title"><%= link_to "6 month plan", braintree_new_six_path %></h3>
</div>
</div>

<div class="card mb-4" style="width: 20rem; height: 25rem; text-align:left">
<img class="card-img-top" src='#'%> alt="Card image cap">
<div class="card-body">
    <h3 class="card-title"><%= link_to "12 month plan", braintree_new_path %><br></h3>
</div>
</div>


