<!-- Dashboard Page  -->
<div class="container-fluid">
  <div class="row">

    <!-- Sidebar Element  -->
    <!-- Ajax this for graph swapping, changing media results -->
    <nav id="dashboard-sidebar" class="col-md-2 sidebarColor sidebar shadow" style="height: 95vh;">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">Dashboard</h6>
        <ul class="nav flex-column">
          <li class="nav-item mt-4 mb-4 sidebarNavLinks"><i class="fas fa-file-video mr-3 text-warning"></i>Video Analysis</li>
          <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-file-audio mr-3 text-danger"></i>Audio Analysis</li>
          <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-font mr-3 text-success"></i>Text Analysis</li>
          <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-user-tie mr-3 text-primary"></i>Some other stuff</li>
          <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-superscript mr-3 text-info"></i>Wow Another Link</li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">Saved Reports</h6>
        <ul class="nav flex-column">
          <li class="nav-item mt-4 mb-4 sidebarNavLinks"><i class="fas fa-file-alt mr-3"></i>This Week</li>
          <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-file-alt mr-3"></i>Current Month</li>
          <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-file-alt mr-3"></i>Last Quarter</li>
          <li class="nav-item mb-4 sidebarNavLinks"><i class="fas fa-file-alt mr-3"></i>2 Long ago 4 me </li>
        </ul>
      </div>
      <input type="button" value="Hide SideNav" onclick="hideNav();">
    </nav>

    <!-- Chart Section -->
    <div id="dashboard-main" class="col-md-10 m-0 p-0 w-100">
      <div class="container mt-4 mb-4">
        <div class="row">
          <div class="col-md-6 container">
            <h3>Customer Service Rep.</h3>
            <h4><i class="fas fa-map-marker-alt mr-3"></i>William Smith, <em>NEXT Academy</em></h4>
          </div>
          <div class="col-md-6 container">
            <button class="btn btn-outline-danger btn-sm mt-3" type="button" name="button" style="float: right;">SPANK</button>
            <button class="btn btn-primary btn-sm mr-2 mt-3" type="button" name="button" style="float: right;">Track</button>
          </div>
        </div>
      </div>
      <canvas id="myChart" class=""></canvas>
      <input class="btn btn-success ml-3" type="button" name="" value="Add Dummy Data" onclick = "addData()">
    </div>

    <script type="text/javascript">
    // Add turbolinks so it initializes when page loads.
    // Add jsPDF
    let canvas = document.getElementById('myChart');
    let ctx = canvas.getContext('2d');
    // let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options ------------------------------------------
    // bar, pie, line, horizontalBar, doughnut, radar, polarArea
    // Chart.defaults.global.defaultFontFamily = 'Lato';
    // Chart.defaults.global.defaultFontSize = '14';
    // Charts.defaults.global.defaultFontColor = '#000';

    var data = {
      labels: ['5', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55', '60'],
      datasets: [{
        label: "Happiness",
        lineTension: 0.1,
        borderColor: 'yellow',
        backgroundColor: 'rgba(1,1,1,0)',
        data: [65, 99, 32, 33, 45, 40, 50, 50, 50, 73, 10, 50],
      }, {
        label: "Sadness",
        lineTension: 0.1,
        borderColor: 'cornflowerblue',
        backgroundColor: 'rgba(1,1,1,0)',
        data: [32, 33, 34, 46, 55, 40, 20, 50, 50, 30, 20, 10],
      }, {
        label: "Anger",
        lineTension: 0.1,
        borderColor: 'red',
        backgroundColor: 'rgba(1,1,1,0)',
        data: [32, 33, 64, 46, 55, 30, 20, 40, 20, 30, 20, 10],
      }, {
        label: "Contempt",
        lineTension: 0.1,
        borderColor: 'green',
        backgroundColor: 'rgba(1,1,1,0)',
        data: [32, 33, 64, 46, 55, 30, 20, 40, 20, 30, 20, 10],
      }, {
        label: "Disgust",
        lineTension: 0.1,
        borderColor: 'purple',
        backgroundColor: 'rgba(1,1,1,0)',
        data: [32, 33, 64, 46, 55, 30, 20, 40, 20, 30, 20, 10],
      }, {
        label: "Fear",
        lineTension: 0.1,
        borderColor: 'pink',
        backgroundColor: 'rgba(1,1,1,0)',
        data: [32, 33, 64, 46, 55, 30, 20, 40, 20, 30, 20, 10],
      }, {
        label: "Neutral",
        lineTension: 0.1,
        borderColor: 'grey',
        backgroundColor: 'rgba(1,1,1,0)',
        data: [32, 33, 64, 46, 55, 30, 20, 40, 20, 30, 20, 10],
      }, {
        label: "Surprise",
        lineTension: 0.1,
        borderColor: 'orange',
        backgroundColor: 'rgba(1,1,1,0)',
        data: [32, 33, 64, 46, 55, 30, 20, 40, 20, 30, 20, 10],
      }
    ]
  };

  var myChart = new Chart(ctx, {
    type: 'line',
    data: data
  });

  // test for button onclick to add new data point
  function addData(){
    // setTimeout(function(){
    //
    // }, 1000)
    myChart.data.datasets[0].data.push(50);
    myChart.data.datasets[1].data.push(60);
    myChart.data.datasets[2].data.push(40);
    myChart.data.datasets[3].data.push(40);
    myChart.data.datasets[4].data.push(40);
    myChart.data.datasets[5].data.push(40);
    myChart.data.datasets[6].data.push(40);
    myChart.data.datasets[7].data.push(40);
    myChart.data.labels.push("Newly added");

    // myChart.data.datasets[0].data[myChart.data.datasets[1].data.length] = 60;
    // myChart.data.datasets[1].data[myChart.data.datasets[1].data.length] = 50;
    // myChart.data.datasets[2].data[myChart.data.datasets[1].data.length] = 40;
    // myChart.data.labels[myChart.data.labels.length] = "Newly added";
    console.log(data);
    // console.log(data.length);
    myChart.update();
  }

  function hideNav(){
    document.getElementById('dashboard-sidebar').classList.add('d-md-none');
    document.getElementById('dashboard-main').style.marginLeft = "0px";
  }

  </script>
  </div>
</div>
