<!-- Landing Page -->
<div class="container-fluid">
  <div class="row">
    <div id = "hero-showcase-left" class="container-fluid d-flex">
      <div class="col-6 d-inline-block mr-3">
        <%= image_tag "welcome.jpg", class:"card-img-top" %>
      </div>

      <div id="hero-showcase-right" class="col-md-6 d-inline-block bg-white shadow-lg rounded border border-dark">
        <h1 class="pl-5 pr-5 pt-5">Capture <strong>Video</strong>, <strong>Speech</strong> and <strong>Text</strong> for real-time emotion analysis. </h1>
        <p class="p-5"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi incidunt velit dolores commodi maiores iusto autem illo tenetur esse deserunt quae quis laborum ipsum, praesentium eveniet asperiores quo neque, vero? Sed labore atque necessitatibus, similique dignissimos et laboriosam at consectetur.</p>
        <div class="container pl-5">
          <input class= "form-control mb-2 border border-dark" type="text" name="Username" placeholder="Username" style="width: 575px;">
          <input class= "form-control border border-dark mb-3" type="password" name="Password" placeholder="Password" style="width: 575px;">
          <button class="btn btn-primary" type="button" name="button">Sign In</button>
          <button class="btn btn-outline-success" type="button" name="button">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid p-3 mt-5 mb-5 bg-white shadow-lg rounded">
        <h1 class="mb-5">Emotion analytics at your fingertips.</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex">
      <div class="container d-inline-block mr-5 mb-5 text-center bg-white shadow-lg rounded">
        <h1> <i class="far fa-file-video"></i> test</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
      </div>
      <div class="container d-inline-block mr-5 mb-5 text-center bg-white shadow-lg rounded">
          <h1> <i class="fas fa-comments"></i> test</h1>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
      </div>
      <div class="container d-inline-block mb-5 text-center bg-white shadow-lg rounded">
          <h1> <i class="fas fa-file-alt"></i> test</h1>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
      </div>
  </div>
</div>
