<!-- Landing Page -->
<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div id = "hero-showcase-left" class="container-fluid d-flex">
        <div class="col-6 d-inline-block mr-2 pl-0 mt-3">
          <%= image_tag "welcome.jpg", class:"card-img-top border border-muted" %>
        </div>

        <div id="hero-showcase-right" class="col-md-6 d-inline-block mt-3 bg-white shadow-lg rounded border border-muted">
          <h1 class="pl-5 pr-5 pt-5 mt-5" style="font-size: 42px;"><strong>Empathise</strong> with your customers <strong>effectively.</strong></h1>
          <p class="hero pl-5 pr-5 pt-5"> Use our emotional analysis tools to gain valuable insights on your customers facial expressions, vocal intonation, and text sentiments.</p>
          <p class="hero pl-5 pr-5 pb-3"> Drastically improve the way your business handles the customer experience. <strong>Get started today.</strong></p>
          <div class="container mt-4 pl-5 text-center">
            <input id="username-field" class= "form-control mb-3" type="text" name="Username" placeholder="Username" style="width: 565px;">
            <input id="password-field" class= "form-control mb-3" type="password" name="Password" placeholder="Password" style="width: 565px;">
            <button class= "btn btn-success" type="button" name="button">Sign Up</button>
            <button class= "btn btn-outline-primary" type="button" name="button">Sign In</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid p-3 mt-5 mb-5 bg-white shadow-lg rounded">
        <h1 class="mb-5">I'm working on deez bits kk</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
      </div>
    </div>
    <div class="row">
      <div class="container d-flex">
        <div class="container d-inline-block mr-5 mb-5 text-center bg-white shadow-lg rounded">
          <h1> <i class="far fa-file-video"></i> test</h1>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
        </div>
        <div class="container d-inline-block mr-5 mb-5 text-center bg-white shadow-lg rounded">
          <h1> <i class="fas fa-comments"></i> test</h1>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
        </div>
        <div class="container d-inline-block mb-5 text-center bg-white shadow-lg rounded">
          <h1> <i class="fas fa-file-alt"></i> test</h1>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ut alias doloribus fugit cupiditate autem tempore placeat dicta exercitationem esse officiis distinctio, eos, enim id consequatur expedita asperiores inventore corporis, sint vel quae voluptatum veritatis nemo. Quod aliquid aut repudiandae esse ea. Quibusdam necessitatibus iusto, rerum vero veniam. Maxime, voluptatibus. </p>
        </div>
      </div>
    </div>
</div>
