<%= link_to 'Back to Company', company_path(@company.id) %> 
<h1>Employees</h1>

<ul>
<% @employees.each do |e| %>
    <% next if e.position == 'manager' %>
        <li> <%= link_to e.firstname, user_path(e.id) %> 
    <% if current_user.position == 'manager' %>|
        <%= link_to 'Remove Employee', remove_employee_path(e.id),
                    method: :patch,
                    data: { confirm: 'Remove employee?' } %></li><br/>
    <% end %>
<% end %>
<ul>

