/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Custom Fonts */
h1 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat'. sans-serif;
  font-weight: 200;
}

.hero {
  font-weight: 200;
  font-size: 1.15em;
  line-height: 28px;
}

.p-zero {
  padding: 0 !important;
}

/* Landing Page Login form */
#username-field {
  -webkit-appearance: none;
  -moz-appearance:none;
}

#username-field:focus {
  border: orange;
}

/* Custom Colors */
.bg-main {
  background-color: #335C81;
}


/* Navigation Bar */
.navbar-links a {
  font-weight: 300;
  font-size: 15px;
}

.nav-link {
  color: #0e0e0e !important;
  font-family: 'Montserrat', sans-serif !important;

}
.nav-link:hover {
  color: #007bff !important;
  font-weight: 400!important;
}

/* Search Bar */
#main-search {
  width: 285px !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

#main-search:focus {
  width: 575px !important;
}

/* Sidebar Nav */
.nav-item:hover {
  color: #fff;
  cursor: pointer;
}

.sidebar-color {
  background-color: #354052;
}

.sidebarNavLinks {
  color: #a0abbe;
}

.hide-sidebar {
  width: 0!important;
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform: translateX(204px);
}

@keyframes slideOut {
  0% { transform: translate(0); }
  100% { transform: translate(-240px); }
}

@keyframes slideIn {
  0% { transform: translate(-240px); }
  100% { transform: translate(0px); }
}

.stayLeft {
  transform: translate(-240px);
}

.slideLeft {
  animation: slideOut 1s forwards; /* IE 10+, Fx 29+ */
}

.slideLeft {
  animation: slideOut 1s forwards; /* IE 10+, Fx 29+ */
}

.slideRight {
  animation: slideIn 1s forwards;
}

/* Main Dashboard */

.d-main-bg {
  background-color: #f3f5f4;
}

.container-white {
  background-color: #fff;
}

#hide-sidebar-btn {
  position: fixed;
  margin-left: 205px;
}

#dashboard-main {
  height: 100vh;
  overflow-y: scroll;
}

canvas {
  /* 546 */
  /* height: 450px!important; */
}

.letstrythis {
  width: 47.5%!important;
}

.chartContainer60w {
  width: 60%!important;
}

.text-dgrey {
  color: #354052;
}

/* Modal Sign-in */
.modal {
  text-align: center;
  background-color: rgba(36, 58, 72, 0.75);
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
    margin-left: -350px;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.login-bg {
  background-color: #de6461;
}

.login-text {
  font-weight: 400!important;
}

#myPie {
  width: 100%!important;
  height: 55%!important;
}

.underline-none {
  text-decoration: none!important;
}

.vid {
  height: 70%!important;
}

.audio-analysis-output {
  list-style: none;
}
