/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Custom Fonts */
h1 {
  font-family: 'Montserrat', sans-serif;
}

.hero {
  font-size: 1.15em;
  line-height: 28px;
}

.p-zero {
  padding: 0 !important;
}

/* Landing Page Login form */
#username-field {
  -webkit-appearance: none;
  -moz-appearance:none;
}

#username-field:focus {
  border: orange;
}

/* Custom Colors */
.bg-main {
  background-color: #335C81;
}


/* Navigation Bar */
.nav-link {
  color: #0e0e0e !important;
  font-family: 'Montserrat', sans-serif !important;

}
.nav-link:hover {
  color: #007bff !important;
}

/* Search Bar */
#main-search {
  width: 285px !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

#main-search:focus {
  width: 700px !important;
}

/* Sidebar Nav */
.nav-item:hover {
  color: #fff;
  cursor: pointer;
}

.sidebarColor {
  background-color: #354052;
}

.sidebarNavLinks {
  color: #a0abbe;
}

#dashboard-sidebar {
  width: 200px!important;
}
